<%= simple_form_for @record do |f| %>

<%= f.hidden_field :user_id, :value => User.where({email: 'katalina.crespo@gmail.com'}).first[:id] %>

<div class="row">
	<div class="span1 label-form"><h4>Servicio</h4></div>
</div>
<div class="row">
	<div class="span3">
		<%= f.association :service, label: false, collection: Service.all.map {|s| [s.name, s.id]}%>
	</div>
	<span>
		<%= f.button :submit, :class => 'btn btn-large', :value => "Crear"%>
	</span>
</div>










<% end %>


